@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

body{
    font-size: x-small !important;
    background-color: #F2F2F2 !important;
}

.header{
    background-color: #fff;
    height: 60px;
    border-bottom: 1px solid #d4cdd4;
}

.inner-container{
    position: relative;
    left: 15%;
    width: 70%;
}

.result-container{
    position: relative;
    left: 20%;
    max-width: 60%;
    padding: 20px 30px;
}

.inner-container input[type=search]{
   width: 100%;
   height: 80px;
   font-size: 32px;
   font-weight: 200;
   padding: 25px;
   color: #616162;
}

.site-content{
    padding-top:32px;
    font-size:16px;
    color: #999a9b;
}

.inner-container.search-box{
    padding-top: 20px;    
}

.search-image{
    margin-left: -50px;
    margin-bottom: 20px;
}

.search-return-text{
    margin-top:32px;
    font-size:23px;
    color: #999a9b;
    border: 1px solid;

}

.header-image{
    position: relative;
    top:10px;
}

.header-cross{
    position: relative;
    top:18px;
    color: #808285;
    font-size: 13px;
    padding: 3px 7px;
    border: 1px solid #E1E1E1;
    float: right;
}

.footer{
    background-color: #2d2d2e;
    height: 124px;
}

.outer-container{
    min-height: 450px;
}

.footer-image{
    top:20px;
    position: relative;
    margin:auto;
    display:block;
}

.footer-image-container
{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #4a4a4c;
    padding-bottom:30px;
}



.footer-text{
    display: block;
    position: relative;
    padding-top:34px;
    color: #5e5f61;
    font-weight: bold;
    text-align: center;
}

